<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">

    <link th:href="@{/css/hp.css}" rel="stylesheet" />

    <meta charset="UTF-8">
    <title>Wizarding World Trivia</title>
</head>
<body>
<div th:fragment="page-header" class="navbar">
    <a th:href="@{/home}">Home</a> |
    <a th:href="@{/quizzes}">Quizzes</a> |
    <a th:href="@{/account}">My Account</a>

</div>

<div th:fragment="login" class="login button">
    <a th:href="@{/login}">Log in</a>
</div>

<div th:fragment="logout" class="logout button">
    <a th:href="@{/logout}">Log out</a>
</div>

</body>
</html>