<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<br>
<nav th:replace="fragments :: login"></nav>

<nav th:replace="fragments :: page-header"></nav><br>

<form method="post">
    <div class="form-group">
        <label>Username
            <input class="form-control" th:field="${signUpFormDTO.username}" />
        </label>
        <p class="error" th:errors="${signUpFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${signUpFormDTO.password}" type="password" />
        </label>
        <p class="error" th:errors="${signUpFormDTO.password}"></p>
    </div>
    <div class="form-group">
        <label>Verify Password
            <input class="form-control" th:field="${signUpFormDTO.verifyPassword}" type="password" />
        </label>
    </div>

    <input type="submit" value="Create account" />
</form>

</body>
</html>