<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<br>
<nav th:replace="fragments :: login"></nav>
<br>
<br>

<h1>Spells Quiz</h1>
<nav th:replace="fragments :: page-header"></nav><br>

<div th:each="question,iterStat : ${questions}">
    <div th:text="${question}">
    </div>
    <form>
        <div th:each="option, optionStat : ${options[iterStat.index]}">
            <input type="radio" th:field="${options}" th:value="${optionStat.index}"
                   th:text="${option}">
        </div>
    </form>
    <br>
</div>

<input type="submit" class="button" value="Submit">
<br>

</body>
</html>