<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<br>
<nav th:replace="fragments :: login"></nav><br>
<br>
<br>

<h1>My Account</h1>

<nav th:replace="fragments :: page-header"></nav><br>

<img class="profileimg" src="">
<a href="" class="profileimglink">Upload photo</a>
<h2>Username</h2>
<h3>House: Display house result here if quiz was taken</h3>
<h3>Quizzes taken/scores displayed here: <br>
Table of quiz/score info</h3><br><br>
<nav th:replace="fragments :: logout"></nav>

</body>
</html>