html {
    background-image: url("/images/train.jpg");
    background-size: cover;
}


img {
    width: 30%;
    height: auto;
    border:1px solid #021a40;
}

header, body, footer {
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    margin: 15px;
    min-height:100vh;
}

.navbar, h1 {
    text-align: center;
}

.login {
    float: right;
    color: white;
}

.button {
    background-color: darkslategray;
    color: darkgoldenrod;
    border-radius: 10px;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
}

a {
    text-decoration: none;
    color: darkgoldenrod;
}

a:visited{
    color: darkgoldenrod;

}

.form-group{
    position: center;
}

.profileimg {
    width: 104px;
    height: 96px;
    background: #e6e6e6;
    border-color: #aaaaaa;
    border-style: solid;
    position: absolute;
    top: 225px;
    left: 350px;
}

.profileimglink{
    position: absolute;
    top: 345px;
    left: 355px;
}